<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.findteammate">

    <application
        android:allowBackup="true"
        android:icon="@drawable/kacun"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Activity.ChatListPage"></activity>
        <activity android:name=".View.Activity.AddProjectPage" />
        <activity android:name=".View.Activity.ProjectPage" />
        <activity android:name=".View.Activity.EditTalentPage" />
        <activity android:name=".View.Activity.LinkedinPage" />
        <activity android:name=".View.Activity.ChatPage" />
        <activity android:name=".View.Activity.SearchProfilePage" />
        <activity android:name=".View.Activity.TalentPage" />
        <activity android:name=".View.Activity.MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.RegisterPage" />
        <activity android:name=".View.Activity.LoginPage" />
    </application>

</manifest>